body {
    font-family: "Roboto",sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}
.all-containers{
    width: 1158px;
}
.page-header{
      border-bottom: 1px solid #e7e9fc;  
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header-flex{
    display: flex;
}
.logo{
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.webstudio{
    color: #2e2f42;
}
.nav{
        
    align-items: center;
    justify-content: space-between;
    display: flex;
    
}

.links{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}
.contact-list {
    display: flex; 
    gap: 40px;
}

.contacts-item:last-child{
    margin-right: 0;
}
.link{
    margin: 10px;

}

.the-first-link{
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
} 
.the-first-link:hover{
    color: #404bbf;
}
.the-first-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
    margin: 10px;
        color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em; 

}

.address:hover{
    color:#404bbf;
}
.address:focus{
    color: #404bbf;
}
.grey{
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    width: 1158px;
}
.site-name{
    background-color: #2E2F42;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    padding-left: 300px;
}
.btn{
font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    width: auto;
    margin-left: 460px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}  
.btn:hover {
    background-color:#404BBF;
}
.btn:focus {
 background-color:#404BBF;
}


.section-two {
        background-color: #E7E9FC;   
         padding-top: 120px;
        padding-bottom: 120px;
        width: 1158px;
}
.sec-set-it{ 
     width: calc((100% - 72px) / 4);
}
.sec-set-it:last-child {
    margin-right: 0;
}
.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        white-space: nowrap;
}
.char{
    display: flex;
    gap: 24px;
}
.section-three {
padding-top: 120px;
padding-bottom: 120px;
background-color: #E7E9FC;
width: 1158px;
}
.first-list-photos{
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px; 
}
.section-four {
    padding-top: 120px;
        padding-bottom: 120px;
        background-color: #E7E9FC;
        width: 1158px;
}
.the-second-photos{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.the-second-photos li{
    width: calc((100% - 48px) / 3);
}
.projects{
    width: calc((100% - 48px) / 3);
}
  
.adds{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
ul{
    list-style: none;
}
.table-title{
    background-color: #FFFFFF;
   color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}
.table-name{
    background-color: #FFFFFF;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.table-subname{
color: #434455;
background-color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
a{
    text-decoration: none;
}
.the-photos{
    display: flex;
    gap: 24px;
}

img {
     display: block;
    max-width: 100%;
}
.name-job{
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer{
    background-color: #2E2F42;
    margin-top: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: flex-start;
    width: 1158px;
}
.low-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 100px;
    margin-right: 1170px;
    margin-bottom: 16px;
    display: inline-block;
}
.low-studio{
    color: #f4f4fd
}
.foot-par{
        color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
     margin-left: 100px;
    margin-right: 1170px;
    width: 270px;
    max-width: 264px;
}


